html {
  color: #fff;
  font-family: "Georgia", sans-serif;
}

section {
  background-color: #495562;
  color: #fff;
  font-family: "Georgia", sans-serif;
  max-height: 500px;
}

.btn {
  background-color: #495562;
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  main {
    position: relative;
  }

  .btn {
    float: right;
  }

  section {
    position: absolute;
    background: rgba(73, 85, 98, .9);
    top: 69%;
  }

}
